name: Regression Tests

on:
  schedule:
    # At 07:08 PM, on day 1 and 15 of the month
    - cron: '08 19 1,15 * *'
  workflow_dispatch:
    inputs:
      codeBranch:
        description: 'Branch of the TAS repo that you want to run the workflow against'
        required: true
        default: 'master'


jobs:
  private-repo-break-condition:
    name: 'Repo '
    runs-on: 'self-hosted'
    if: ( !contains(github.repository, '/platform-aware-scheduling') )
    steps:
      - name: Simple acknowledgement
        run: echo "Starting regression tests..."
  current_branch:
    runs-on: self-hosted
    needs: [private-repo-break-condition]
    outputs:
      extract_branch: ${{ steps.extract_branch.outputs.branch }}
    steps:
      - name: current branch
        id: extract_branch
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "schedule" ]]; then
            echo "BRANCH=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]]; then
            echo "BRANCH=${{ inputs.codeBranch  }}" >> $GITHUB_OUTPUT
          else
            echo "BRANCH=INVALID_EVENT_BRANCH_UNKNOWN" >> $GITHUB_OUTPUT
          fi

  end-to-end-test-local-K8s-v19:
    uses: ./.github/workflows/end-to-end-test.yaml
    needs: [ current_branch  ]
    with:
      runson: self-hosted-kind
      cleanup: true
      isLocal: "true"
      codeBranch: ${{ needs.current_branch.outputs.extract_branch }}
      imageHash: "kindest/node:v1.19.16@sha256:476cb3269232888437b61deca013832fee41f9f074f9bed79f57e4280f7c48b7"


  end-to-end-test-local-K8s-v20:
    uses: ./.github/workflows/end-to-end-test.yaml
    needs: [ end-to-end-test-local-K8s-v19  ]
    with:
      runson: self-hosted-kind
      cleanup: false
      isLocal: "true"
      codeBranch: ${{ needs.current_branch.outputs.extract_branch }}
      imageHash: "kindest/node:v1.20.15@sha256:a32bf55309294120616886b5338f95dd98a2f7231519c7dedcec32ba29699394"

  end-to-end-test-local-K8s-v21:
    uses: ./.github/workflows/end-to-end-test.yaml
    needs: [ end-to-end-test-local-K8s-v20  ]
    with:
      runson: self-hosted-kind
      cleanup: false
      isLocal: "true"
      codeBranch: ${{ needs.current_branch.outputs.extract_branch }}
      imageHash: "kindest/node:v1.21.14@sha256:9d9eb5fb26b4fbc0c6d95fa8c790414f9750dd583f5d7cee45d92e8c26670aa1"

  end-to-end-test-local-K8s-v22:
    uses: ./.github/workflows/end-to-end-test.yaml
    needs: [ end-to-end-test-local-K8s-v21  ]
    with:
      runson: self-hosted-kind
      cleanup: false
      isLocal: "true"
      codeBranch: ${{ needs.current_branch.outputs.extract_branch }}
      imageHash: "kindest/node:v1.22.15@sha256:7d9708c4b0873f0fe2e171e2b1b7f45ae89482617778c1c875f1053d4cef2e41"

  end-to-end-test-local-K8s-v23:
    uses: ./.github/workflows/end-to-end-test.yaml
    needs: [ end-to-end-test-local-K8s-v22 ]
    with:
      runson: self-hosted-kind
      cleanup: false
      isLocal: "true"
      codeBranch: ${{ needs.current_branch.outputs.extract_branch }}
      imageHash: "kindest/node:v1.23.13@sha256:ef453bb7c79f0e3caba88d2067d4196f427794086a7d0df8df4f019d5e336b61"

  end-to-end-test-local-K8s-v24:
    uses: ./.github/workflows/end-to-end-test.yaml
    needs: [ end-to-end-test-local-K8s-v23  ]
    with:
      runson: self-hosted-kind
      cleanup: false
      isLocal: "true"
      codeBranch: ${{ needs.current_branch.outputs.extract_branch }}
      imageHash: "kindest/node:v1.24.7@sha256:577c630ce8e509131eab1aea12c022190978dd2f745aac5eb1fe65c0807eb315"

  end-to-end-test-local-K8s-v25:
    uses: ./.github/workflows/end-to-end-test.yaml
    needs: [ end-to-end-test-local-K8s-v24  ]
    with:
      runson: self-hosted-kind
      cleanup: false
      isLocal: "true"
      codeBranch: ${{ needs.current_branch.outputs.extract_branch }}
      imageHash: "kindest/node:v1.25.3@sha256:f52781bc0d7a19fb6c405c2af83abfeb311f130707a0e219175677e366cc45d1"


  end-to-end-test-local-K8s-v26:
    uses: ./.github/workflows/end-to-end-test.yaml
    needs: [ end-to-end-test-local-K8s-v25  ]
    with:
      runson: self-hosted-kind
      cleanup: false
      isLocal: "true"
      codeBranch: ${{ needs.current_branch.outputs.extract_branch }}
      imageHash: "kindest/node:v1.26.0@sha256:691e24bd2417609db7e589e1a479b902d2e209892a10ce375fab60a8407c7352"
